
/*
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*/
/*Estilos*/
body{
    background-color: rgba(159, 161, 163, 0.589);
    background-image: url(../assets/Fondo/Metallic\ Toad.jpg);
   background-repeat: no-repeat;
    background-position: center;
    background-size:auto;
}

p{
    line-height: 1.5;
    text-align: center;
    border: solid 20 px;
    font-size:large;
    font: weight 200px;
    font-style: italic;
}

h1{
    font-size: 60 px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: rgb(61, 60, 60);
}


h2{
    text-align: center;
    text-decoration: underline;
}

h3{
text-align: center;
}
/* Fin de Estilos*/

/*Metodologia BEM*/
.contenedor{
    max-width: 100px;
    width: 50%;
    margin: 0 auto;
}

.presentacion__imagen{
    width: 20%;
    border-radius: 20px; 
    position: relative;
    left: 450px;
}

.presentacion__parrafo{
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
    margin-bottom: 15px;
    font-size: 18px;
}
/*Comentarios*/
.Caja1{
   padding: 60px;
   font-size: 15px;
    width: 50px;
    height: 50px;
    border: solid 1px black;
    overflow: scroll;
}

.Caja2{
    padding: 60px;
    font-size: 15px;
    width: 50px;
    height: 50px;
    border: solid 1px black;
    overflow: scroll;
}

.Caja3{
    padding: 60px;
    font-size: 15px;
    width: 50px;
    height: 50px;
    border: solid 1px black;
    overflow: scroll;
}
/*Fin de comentarios*/

/*Flexbox*/
.Caja{
    margin-top: 60px;
    background-color: rgb(190, 181, 181);
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.caja img{
    width: 40%;
    border-radius: 30px; 
    position: relative;
    width: 200px;
    
}
.caja{
    margin: 15px;
}
.caja p{
text-align: center;
font-size: 20px;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
}

/*Grids*/
.navbar{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row: repeat (6, 1fr) ;
    align-items: center; 
    background-image: linear-gradient( to left, rgb(103, 103, 165), rgb(110, 122, 124) );
}

.Logo{
    width: 200px;
    height: 200px;
    grid-column: 1/2;
    animation-name: rotar_logo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 3s;
}

@keyframes rotar_logo {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.navbar .menu{
    display: flex;
    justify-content: space-around;
    list-style: none;
    grid-column: 2/4;
}

.navbar .Identificacion{
    display: flex;
    justify-content: center;
    grid-column: 2/4;

}

.navbar .Identificacion2{
    display: flex;
    justify-content: center;
    grid-column: 2/4;
}

.navbar .menu li{
    display: flex;
    list-style: none;
    color: black;
}

.navbar .menu a{
    text-decoration:underline solid 1px;
    list-style: none;
    font-weight: bolder;
    color: black;
    cursor: pointer;
}

/*footer*/

.redes .fa-brands{
    display: inline-flex;
    justify-content: center;
    height: 300px;
    font-size: large;
}

.piedepagina .derechos{
    display: flex;
    justify-content: center;
}

/*--Responsive home--*/

@media screen and (max-width: 480px) {
    .navbar{
        position: relative;
        width: auto;
    }

/*--Responsive mi historia--*/
@media screen and (min widt 480px) (max-width: 768px){
    .presentacion {
        display: inline-block;

    }
}
    .navbar .Identificacion{
        font-size: 20px;
        grid-column: 2/4;
    }
    .navbar .Identificacion2{
        font-size: 15px;
        grid-column: 2/4;
    }
    .navbar .menu{
        display: block;
        grid-column: 2/4;
        font-size: 15px;
        cursor: pointer;
    }

    .redes{
        height: 110px;
    }
.piedepagina .derechos{
    font-size: 10px;
}
}
